.carrito-button {
    width: 50px !important;
    margin-top: 50px;
    position: absolute;
    left: 92%;
}

.carrito-button:hover {
    border-radius: 360px;
    background-color: wheat
}

.carrito-elements {
    background-color: #86ba09;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 360px;
    border: #6c9706;
}
.numero{
    position: absolute;
    top: -15%;
    right: 25%;
}