.Container {
    margin: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: -12px 10px 40px 0px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    background-color: rgba(155, 155, 155, 0.39);
}

.ContainerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CloseButton {
    display: flex;
    height: 30px;
}

.Foto {
    width: 300px;
    height: 300px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4px;
    margin-bottom: 4px;
}

.CarritoButton {
    margin-top: 7px;
    display: flex;
    background-color:#3d9225;
    border: none;
    color: white;
    padding: 8px 25px;

    font-size: 14px;

    opacity: 0.7;
    transition: 0.3s;

    cursor: pointer;
    border-radius: 10px;
}

.CarritoButton:hover {
    opacity: 1;
}
.CarritoButton:active{
    background-color:  rgb(218, 142, 1);
}

@media(max-width: 768px) {
    .Foto{
        width: 150px;
        height: 150px;
        margin-top: 45px;
    }
    .Container {
        width: 500px;
        height: 280px;
    }
    .ContainerImg{
        background-color: white;
        height: 280px;
    }
}
@media(max-width: 425px) {
    .Foto{
        width: 150px;
        height: 150px;
    }
    .Container {
        width: 500px;
        height: 295px;
    }
    .ContainerImg{
        height: 295px;
    }
}
@media(max-width: 375px) {
    .Foto{
        width: 150px;
        height: 150px;
    }
    .Container {
        width: 500px;
        height: 295px;
    }
    .ContainerImg{
        height: 295px;
    }
    .CarritoButton{
        width: 170px;
    }
    .input-detail{
        width: 170px;
    }
}
@media(max-width: 320px) {
    .Foto{
        width: 100px;
        height: 100px;
    }
    .Container {
        min-width: 318px;
        height: 300px;
    }
    .ContainerImg{
        height: 300px;
        min-width: 100px;
    }
    .Foto{
        margin-top: 100px;
    }
}