.cart-image{
    max-width: 100%;
    max-height: 100%;
}
.image-cart-container{
    width: 45px;
    height: 45px;
}
.cart-container{
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    width: 750px;
    background-color: white;
    box-shadow: -12px 10px 40px 0px rgba(0, 0, 0, 0.45);
}
.card-cart{
    display: flex;
    justify-content: space-around;
}
.cart-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    min-height: 70vh;
}
.botons{
    border-radius: 8px;
    background-color: #8ae271;
    margin: 5px;
    color: white;
    border: none;
}
.x{
    height: 28px;
    margin-left: 10px;
}
.total-compra{
    margin-left: 5px;
}
.cart-details{
    margin-right: 50px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.peso-letra{
    font-weight: 800;
}
.fondo{
    background-color: #f2ffef;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
}
.x:hover{
    background-color: orange;
}
.x:active{
    background-color: red;
}
.finalizar-compra:hover{
    background-color: green;
}
.finalizar-compra:active{
    background-color:  rgb(218, 142, 1);
}

@media(max-width: 425px){
    .cart-container{
        width: 423px;
    }
    .image-cart-container{
        width: 100px;
        height: 100px;
    }
    .fondo{
        height: 55px;
    }
    .card-cart{
        height: 60px;
    }
    .hash{
        position: absolute;
        right: 95%;
        margin-top: 50px;
    }
    .product-title{
        font-size: 14px;
        margin-left: 5px;
    }
    .x{
        margin-top: 20px;
        position: absolute;
        left: 89%;
    }
}
@media(max-width: 375px){
    .cart-container{
        width: 373px;
    }
    .image-cart-container{
        width: 100px;
        height: 100px;
    }
    .hash{
        right: 93%;
    }
    .x{
        left: 87%;
    }
}

@media(max-width: 320px){
    .cart-container{
        width: 318px;
    }
    .image-cart-container{
        width: 100px;
        height: 100px;
    }
    .image-cart-container{
        width: 75px;
        height: 75px;
    }
}